---
import { format } from "date-fns";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article>
    <time class="text-xs" datetime={frontmatter.pubDate}
      >{format(new Date(frontmatter.pubDate), "dd MMM, yyyy")}</time
    >
    <h1>{frontmatter.title}</h1>

    <figure class="flex flex-col items-center">
      <img
        class="max-w-full mx-auto rounded-lg my-6"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
      <figcaption class="-mt-2">
        {frontmatter.image.caption ?? "Generated with AI"}
      </figcaption>
    </figure>

    <slot />
    <ul class="flex flex-wrap gap-2 not-prose">
      {
        frontmatter.tags.map((tag) => (
          <li class="badge badge-primary badge-outline">
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))
      }
    </ul>
  </article>
</BaseLayout>
