---
import AppImage from "../components/AppImage.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const ogImage = new URL(frontmatter.image.url.src, Astro.site).href;
---

<BaseLayout
  pageTitle={frontmatter.title}
  lang={frontmatter.lang}
  description={frontmatter.description}
  ogImage={ogImage}
>
  <article>
    <time class="text-xs tabular-nums" datetime={frontmatter.pubDate}
      >{
        new Date(frontmatter.pubDate).toLocaleDateString("fr-FR", {
          day: "2-digit",
          month: "short",
          year: "numeric",
        })
      }</time
    >
    <h1>{frontmatter.title}</h1>

    <AppImage
      class="max-w-full mx-auto mt-6"
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      caption={frontmatter.image.caption ?? frontmatter.image.alt}
      loading="eager"
    />

    <slot />
    <ul class="flex flex-wrap gap-2 not-prose mt-12">
      {
        frontmatter.tags.map((tag) => (
          <li class="badge badge-primary badge-ghost">
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))
      }
    </ul>
  </article>
</BaseLayout>
