---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const ogImage = new URL(frontmatter.image.url.src, Astro.site).href;
---

<BaseLayout pageTitle={frontmatter.title} lang={frontmatter.lang} description={frontmatter.description} ogImage={ogImage}>
  <article>
    <time class="text-xs" datetime={frontmatter.pubDate}
      >{new Date(frontmatter.pubDate).toLocaleDateString("fr-FR", { day: "2-digit", month: "short", year: "numeric" })}</time
    >
    <h1>{frontmatter.title}</h1>

    <figure class="flex flex-col items-center">
      <Image
        class="max-w-full mx-auto rounded-lg my-6"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
      <figcaption class="-mt-2">
        {frontmatter.image.caption ?? "Generated with AI"}
      </figcaption>
    </figure>

    <slot />
    <ul class="flex flex-wrap gap-2 not-prose">
      {
        frontmatter.tags.map((tag) => (
          <li class="badge badge-primary badge-outline">
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))
      }
    </ul>
  </article>
</BaseLayout>
